node_modules
.vscode
.DS_STORE
build/
*.env

# Packages
packages/contracts/typechain
packages/*/node_modules
packages/*/dist
packages/*/compiled
packages/*/tsconfig.tsbuildinfo
packages/*/lib

# Directories
cache
out
artifacts
/typechain
/typechain-types
/src

solidity-fixtures/

dist

*.ptau
yarn-error.log

# files
*.log
.DS_Store
.pnp.*
lcov.info
yarn.lock

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/
