[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "packages/contracts/lib/prb-test"]
	path = packages/contracts/lib/prb-test
	url = https://github.com/PaulRBerg/prb-test
[submodule "solidity-fixtures"]
	path = solidity-fixtures
	url = https://github.com/webb-tools/solidity-fixtures.git
