node_modules
.vscode
.DS_STORE
build/
.env

#Packages
packages/*/node_modules
packages/*/lib
packages/*/tsconfig.tsbuildinfo

#Hardhat files
cache
artifacts
/typechain
/typechain-types
/src

dist

*.ptau
yarn-error.log
