node_modules
.vscode
.DS_STORE
build/
.env

*.md
*.json
*.cjs
*.yml

# Packages
packages/contracts/typechain
packages/*/node_modules
packages/*/lib
packages/*/dist
packages/*/tsconfig.tsbuildinfo

solidity-fixtures

# Hardhat files
cache
artifacts
typechain
typechain-types
/src

dist

*.ptau
yarn-error.log

# directories
broadcast
cache
lib
node_modules
out

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock

