name: check

on:
  push:
    branches: [ 'main' ]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [ '**' ]
    paths-ignore:
      - 'README.md'
  
  workflow_dispatch:

jobs:
  ts:
    concurrency:
      group: ts-${{ github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup DVC
        uses: iterative/setup-dvc@v1
          
      - name: Fetch submodules
        run: git submodule update --init --recursive

      - name: Install dependencies 
        run: yarn install --production=false

      - name: Populate fixtures
        run: yarn fetch:fixtures

      - name: clean
        run: yarn clean

      - name: Compile @webb-tools/contracts
        run: lerna run compile --scope=@webb-tools/contracts
      - name: Compile @webb-tools/identity-anchor-contracts
        run: lerna run compile --scope @webb-tools/identity-anchor-contracts
      - name: Compile @webb-tools/masp-anchor-contracts
        run: lerna run compile --scope @webb-tools/masp-anchor-contracts

      - name: Build packages
        run: lerna run build

      - name: ts-check
        run: yarn ts-check
